.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 100px);

  span{
    color: white;
    font-family: secondaryFont;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc((100vh - 100px) / 3);
    margin-top: 3vh;
    span {
      padding: 1vh 0;
      font-size: 2.5vmax;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 80vw;
    padding: 0 10vw;
    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 2vh 0;
      span {
        padding-right: 5vw;
        font-size: 2.5vmax;
        line-height: 7.5vh;
        display: block;
        width: 15vw;
        text-align: end;
        font-family: secondaryFont;
      }
      input {
        height: 7vh;
        width: 60vw;
        flex-grow: 1;
        font-size: 2vmax;
        padding-left: 10px;
      }
      .noInfo {
        background-color: #ffa096;
      }
      textarea {
        height: 14vh;
        max-height: 14vh;
        width: 60vw;
        max-width: 59.5vw;
        flex-grow: 1;
        font-size: 2vmax;
        padding-left: 10px;
      }

    }
    section{
      background-color: #515151;
      width: 20vw;
      margin-left: calc(60vw - 6px);
      border: solid white 3px;
      height: 5vh;
      color: white;
      text-align: center;
      font-size: 2.5vmax;
      margin-top: 1vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: secondaryFont;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(.95);
        transition: .1s;
      }
    }
  }
}