.category {
  width: 100%;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  /*DELETE BELOW FOR DESCRIPTION*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.category::-webkit-scrollbar {
  width: 10px;
}
.category::-webkit-scrollbar-track {
  background-color: transparent;
}
.category::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}