.photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-grow: 1;
  width: 29vw;
  img {
    max-width: calc((100vw - 50px) / 2);
    max-height: 275px;
  }
  p {
    text-align: center;
    color: white;
    font-family: secondaryFont;
  }
  .leftText {
    padding: 0 0 0 30px;
  }
  .rightText {
    padding: 0 30px 0 0;
  }
}