@font-face {
  font-family: headerFont;
  src: url(http://localhost:8888/dream_frontend/src/assets/fonts/CaviarDreams_Bold.ttf); }

@font-face {
  font-family: secondaryFont;
  src: url(http://localhost:8888/dream_frontend/src/assets/fonts/ProzaLibre-Regular.ttf); }

.app {
  margin: 0;
  height: 100vh;
  background: black;
  /*#B2BAF8;*/ }

.header {
  padding: 50px 0 0 0; }
  .header div {
    display: flex;
    flex-direction: row;
    background: #515151;
    align-items: center; }
    .header div .logo, .header div .socialMedia {
      height: 35px; }
      .header div .logo img, .header div .socialMedia img {
        padding: 0 7.5px;
        height: 100%; }
        .header div .logo img:hover, .header div .socialMedia img:hover {
          transform: scale(1.05);
          transition: .3s; }
    .header div ul {
      padding: 0 40px;
      margin: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .header div ul li {
        height: 50px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center; }
        .header div ul li a {
          transition: .5s;
          font-size: 20px;
          font-family: headerFont;
          text-decoration: none;
          color: white; }
          .header div ul li a::before, .header div ul li a::after {
            content: "\2014";
            color: transparent;
            transition: .5s; }
        .header div ul li .selected {
          transition: .5s; }
          .header div ul li .selected::before, .header div ul li .selected::after {
            color: white;
            transition: .5s; }

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-y: scroll;
  height: calc(100vh - 100px);
  width: 100vw;
  max-width: 100%; }
  .home .carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
    min-height: 90%;
    width: 100%; }
    .home .carousel .carouselImage {
      max-width: calc(100vw - 200px);
      max-height: 90%; }
    .home .carousel .arrowLeft {
      position: relative;
      left: 90px;
      width: 100px;
      transition: .2s;
      opacity: .5; }
      .home .carousel .arrowLeft:hover {
        cursor: pointer;
        transition: .2s;
        transform: scale(1.1); }
      .home .carousel .arrowLeft:active {
        transform: scale(1);
        transition: 0s !important; }
    .home .carousel .arrowRight {
      position: relative;
      right: 90px;
      width: 100px;
      transition: .2s;
      opacity: .5; }
      .home .carousel .arrowRight:hover {
        cursor: pointer;
        transition: .2s;
        transform: scale(1.1); }
      .home .carousel .arrowRight:active {
        transform: scale(1);
        transition: 0s !important; }
  .home .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; }
    .home .links div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 250px;
      margin-bottom: 100px; }
      .home .links div p {
        max-width: 250px;
        color: white; }
      .home .links div a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; }
        .home .links div a:hover {
          transform: scale(1.01); }
        .home .links div a h1 {
          color: white;
          font-size: 50px;
          position: absolute;
          margin: 0;
          font-family: secondaryFont;
          pointer-events: none; }
          .home .links div a h1:hover {
            cursor: pointer; }
        .home .links div a img {
          max-height: 200px;
          max-width: 200px; }

.home::-webkit-scrollbar {
  width: 10px; }

.home::-webkit-scrollbar-track {
  background-color: transparent; }

.home::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px; }

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow-y: scroll;
  height: calc(100vh - 100px); }
  .gallery a {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    color: white;
    font-family: secondaryFont;
    font-size: 22px; }
    .gallery a:hover {
      transform: scale(1.05); }
    .gallery a h1 {
      margin: 0;
      position: absolute; }
    .gallery a img {
      margin: 20px;
      height: 300px; }

.gallery::-webkit-scrollbar {
  width: 10px; }

.gallery::-webkit-scrollbar-track {
  background-color: transparent; }

.gallery::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px; }

.category {
  width: 100%;
  height: calc(100vh - 100px);
  overflow-y: scroll; }

.category::-webkit-scrollbar {
  width: 10px; }

.category::-webkit-scrollbar-track {
  background-color: transparent; }

.category::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px; }

.photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px; }
  .photo img {
    max-width: calc((100vw - 50px) / 2);
    max-height: 275px; }
  .photo p {
    text-align: center;
    color: white;
    font-family: secondaryFont; }
  .photo .leftText {
    padding: 0 0 0 30px; }
  .photo .rightText {
    padding: 0 30px 0 0; }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 100px); }
  .contact span {
    color: white;
    font-family: secondaryFont; }
  .contact .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc((100vh - 100px) / 3);
    margin-top: 3vh; }
    .contact .info span {
      padding: 1vh 0;
      font-size: 3.5vmax; }
  .contact form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 80vw;
    padding: 0 10vw; }
    .contact form div {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 2vh 0; }
      .contact form div span {
        padding-right: 10px;
        font-size: 3vmax;
        line-height: 7.5vh;
        display: block;
        width: 18vw;
        text-align: end; }
      .contact form div input {
        height: 7vh;
        flex-grow: 1;
        font-size: 2.5vmax;
        padding-left: 10px; }
      .contact form div textarea {
        height: 14vh;
        max-height: 14vh;
        max-width: calc(61.1vw - 10px);
        flex-grow: 1;
        font-size: 2.5vmax;
        padding-left: 10px; }
    .contact form section {
      background-color: #515151;
      width: 20vw;
      margin-left: calc(60vw - 6px);
      border: solid white 3px;
      height: 5vh;
      color: white;
      text-align: center;
      font-size: 2.5vmax;
      margin-top: 1vh;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contact form section:hover {
        transform: scale(1.05); }
      .contact form section:active {
        transform: scale(0.95);
        transition: .1s; }

html, body {
  margin: 0;
  min-height: 100%;
  max-width: 100%;
  overflow-y: hidden; }
