.hamburger-all {
  .hamburger-menu {
    position: fixed;
    background: #515151;
    height: 100vh;
    width: 40vw;
    min-width: 260px;
    transition: .5s;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .hamburger-logo {
      img {
        width: 35vh;
        height: 20vh;
        padding: 0 2.5vw;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: left;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        a {
          height: 100%;
          width: 100%;
          text-decoration: none;
          text-align: center;
          color: white;
          font-size: 40px;
          line-height: 80px;
          &::before, &::after {
            content: "\2014";
            color: transparent;
            transition: .5s;
          }
        }
        .selected {
          //transform: scale(1.3) !important;
          transition: .5s;
          &::before, &::after {
            color: white;
            transition: .5s;
          }
        }
      }

    }
    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        color: white;
        text-align: center;
        padding: 5px 0;

      }
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .hamburger-social-media {
          img {
            height: 40px;
            padding: 10px;
          }
        }
      }
    }
  }
  .closed {
    width: 0;
    transition: .5s;
    * {
      display: none;
    }
  }
  .hiddenClick {
    flex-grow: 1;
    position: fixed;
    top: 0;
    z-index: 1;
    display: inherit;
    height: 100vh;
    width: 60vw;
    right: 0;
  }
}